:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* --link-color: #5F5FEAFF; /* Change this color to your preferred link color */ */
  /* --visited-link-color: #1bbbeb; /* Change this color to your preferred visited link color */ */

}


body {
  font-family: "JetBrains Mono";
}

a {
  /* color: var(--link-color); */
  /* text-decoration: underline; */
}

a:visited {
  /* color: var(--visited-link-color); */
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.transparent-selection::selection {
  background-color: rgba(255,255,255,0.1);
}


#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}
